body {
	text-align:center;
	background-color:#000099;
	color: #e6b3ff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

form{
	margin: 0 auto;
	width: 300px;
}

li:nth-child(1){
	color: #331a00;
}
li:nth-child(2){
	color: #ffffcc;
}
li:nth-child(3){
	color: #ff6699;
}
li:nth-child(4){
	color: #d6d6c2;
}
li:nth-child(5){
	color: #66ff66;
}
li:nth-child(6){
	color: #996633;
}
li:nth-child(7){
	color: #cc6600;
}
li:nth-child(8){
	color: #99ff66;
}
li:nth-child(9){
	color: #ffdb4d;
}
li:nth-child(10){
	color: #fff0b3;
}
